{% extends "layout.html" %}

{% block content %}

<div class="page-header">
<div>
<h2>Metadata Report</h2>
<p>Forensic metadata and hash results</p>
</div>
</div>

<div class="report-grid">

<div class="card">

<div class="card-hd">
<div>
<div class="card-title">File Hashes</div>
<div class="card-sub">Digital fingerprint</div>
</div>
</div>

<div class="hash-row">
<div class="hash-key">MD5</div>
<div class="hash-val">{{ report.md5 }}</div>
</div>

<div class="hash-row">
<div class="hash-key">SHA1</div>
<div class="hash-val">{{ report.sha1 }}</div>
</div>

<div class="hash-row">
<div class="hash-key">SHA256</div>
<div class="hash-val">{{ report.sha256 }}</div>
</div>

</div>


<div class="card">

<div class="card-hd">
<div>
<div class="card-title">Source Detection</div>
<div class="card-sub">Estimated platform origin</div>
</div>
</div>

<div class="meta-row">
<div class="meta-key">File Type</div>
<div class="meta-val">{{ report.type }}</div>
</div>

<div class="meta-row">
<div class="meta-key">Possible Platform</div>
<div class="meta-val">{{ report.platform_guess }}</div>
</div>

</div>


{% if report.location %}
<div class="card">

<div class="card-hd">
<div>
<div class="card-title">Location Data</div>
<div class="card-sub">GPS metadata</div>
</div>
</div>

<div class="meta-row">
<div class="meta-key">Latitude</div>
<div class="meta-val">{{ report.location.latitude }}</div>
</div>

<div class="meta-row">
<div class="meta-key">Longitude</div>
<div class="meta-val">{{ report.location.longitude }}</div>
</div>

<div class="meta-row">
<div class="meta-key">Map</div>
<div class="meta-val">
<a href="{{ report.location.map_link }}" target="_blank">Open in Google Maps</a>
</div>
</div>

</div>
{% endif %}


<div class="card">

<div class="card-hd">
<div>
<div class="card-title">Metadata</div>
<div class="card-sub">Extracted file information</div>
</div>
</div>

{% for key,value in report.metadata.items() %}

<div class="meta-row">
<div class="meta-key">{{ key }}</div>
<div class="meta-val">{{ value }}</div>
</div>

{% endfor %}

</div>

</div>

{% endblock %}