{% extends "layout.html" %}
{% block content %}

<h2>Searchable Followers Table</h2>

{% if dashboard %}

<table id="followers" class="table table-dark">
<thead><tr><th>Followers</th></tr></thead>
<tbody>
{% for f in dashboard.followers %}
<tr><td>{{f}}</td></tr>
{% endfor %}
</tbody>
</table>

<footer style="text-align:center; margin-top:20px; padding:10px; font-size:14px;">
Powered By Stypzy
</footer>

<script>
$(document).ready(function(){
$('#followers').DataTable();
});
</script>

{% endif %}

{% endblock %}